<ion-view view-title="OrtoGra" class="pane text-center">
  <ion-content class="padding-top" id="bgApp" > 
      <div ng-controller="DashCtrl" >
          <!--
    <div class="list card " >
      <div class="item item-divider item-balanced">Twój wynik</div>
      <div class="item item-body">
        <div style="line-height:30px;">
            <b><span ng-if="points.total">{{(points.last/(points.total)*100)| number:0}}% ({{points.last}} / {{points.total}})</span><span ng-if="!points.total">0 % (0 / 0)</span> </b>
          &nbsp; <button class="button button-clean button-small ion-refresh " ng-click="resetPoints()"></button>
                     
        </div> 
      </div>
    </div>
          -->
    <div class="list card" >
     
      <div class="item item-image item-balanced" >
         
          <div class="image" >
             <img ng-src="{{wordImageDay}}" >
          </div>
      </div>
         <div class="item item-divider item-balance" ng-bind-html="wordDay">{{wordDay}}</div>
    </div>
          
          <button class="button  button-large icon-right ion-chevron-right button-positive" ng-click="loadGame()">Zagraj teraz</button>
      </div>
  </ion-content>
</ion-view>
