<ion-view view-title="ORTO GRA">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Ostani Wynik</div>
      <div class="item item-body">
        <div>
          Dostatecznie.. <b>62%</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Najlepszy Wynik</div>
      <div class="item item-body">
        <div>
          Bardzo dobrze. <b>92%</b>
        </div>
      </div>
    </div>
   
  </ion-content>
</ion-view>
